<h2>これでよろしいですか？</h2>
<div class='text'>
  目標金額:<%= @target_budget.target_amount %>円
</div>
<div class='text'>
  目標期日:<%= @target_budget.target_date %>日
</div>
<div class='text'>
  先月の収入:<%= @target_budget.income %>円
</div>
<div class='text'>
  先月の固定費:<%= @target_budget.fixed_cost %>円
</div>
<div class='link'>
  <%= link_to "戦闘開始!", root_path(@target.id), method: :get %>
<div>