<div class="wrapper">
  <div class="side-bar">
    <div class="calendar">
      <%= Date.current.strftime('%Y/%m/%d') %>
    </div>
    <div class="battle-form">
      <%= form_with model: @target, url: target_path, local: true do |f| %>
        <%= f.submit "攻撃をする", id: "attack-button" %>
      <% end %>
    </div>
    <div class="battle-form">
      <%= form_with model: @shopping, url: target_shopping_path(@target.id), local: true do |f| %>
        <div class="form">
          <%= f.number_field :resist, min: 1 %><span>円</span>
        </div>
        <div class="actions">
          <%= f.submit "買物をする" %>
        </div>
      <% end %>
    </div>
    <div class="damage">
      <span>想定ダメージ:</span>
      <%= @attack %>
    </div>
    <div class="battle-form">
      <%= form_with model: @target, url: target_path, method: :delete, local: true do |f| %>
        <%= f.submit "あきらめる" %>
      <% end %>
    </div>
  </div>
  <div class="main">
    <div class="mammon">
      <%= image_tag 'pose-akuma2.jpeg' %>
    </div>
    <div class="text">
      HP:
      <span id="current_hp"><%= @target.current_amount %></span>
      /
      <span id="max_hp"><%= @target.target_amount %></span>
    </div>
    <div class="text">
      MP:
      <span><%= @target.current_date %></span>
      /
      <span><%= @target.target_date %></span>
    </div>
  </div>
</div>