<div class="wrapper">
  <div class="side-bar">
    <div class="calendar">
      <%= Date.current.strftime('%Y/%m/%d') %>
    </div>
    <div class="battle-form">
      <%= form_with model: @target, url: target_path, local: true do |f| %>
        <%= f.submit "攻撃をする", id: "attack-button" %>
      <% end %>
    </div>
    <div class="battle-form">
      <%= form_with model: @shopping, url: target_shopping_path(@target.id), local: true do |f| %>
        <div class="form">
          <%= f.number_field :resist, min: 1 %><span>円</span>
        </div>
        <div class="actions">
          <%= f.submit "買物をする", id: "shopping-button" %>
        </div>
      <% end %>
    </div>
    <div class="damage", id="assumption-damage">
      <span>想定ダメージ:</span>
      <%= @attack %>
    </div>
    <div class="battle-form">
      <%= form_with model: @budget, url: edit_target_budget_path(@target.id), method: :get, local: true do |f| %>
        <%= f.submit "収支情報を修正する", id: "edit-budget-button" %>
      <% end %>
    </div>
    <div class="battle-form">
      <%= form_with model: @target, url: target_path, method: :delete, local: true do |f| %>
        <%= f.submit "あきらめる", id: "destroy-target-button" %>
      <% end %>
    </div>
    <%= render "shared/tips" %>
  </div>
  <div class="main">
    <div class="mammon-data">
      <div class="mammon">
        <%= image_tag 'pose-akuma2.jpeg', id:"mammon-image" %>
      </div>
      <div class="text">
        HP:
        <span id="mammon-hp"><%= @target.current_amount %></span>
        /
        <span id="mammon-hp"><%= @target.target_amount %></span>
      </div>
      <div class="text">
        MP:
        <span id="mammon-mp"><%= @target.current_date %></span>
        /
        <span id="mammon-mp"><%= @target.target_date %></span>
      </div>
    </div>
  </div>
  <%= render "shared/message_board", model: @messages %>
</div>