<div class="wrapper">
  <div class="side-bar">
    <h2>収支情報の修正</h2>
    <%= form_with model: @budget, url:target_budget_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: @budget %>
      <div class="message">
        <% if Date.today == Date.new(Time.now.year, Time.now.month, -1).day %>
          今月の収入を入力してください
        <% else %>
          先月の収入を入力してください
        <% end %>
      </div>
      <div>
        <%= f.number_field :income, placeholder: "250000" %><span>円</span>
      </div>
      <div class="message">
        <% if Date.today == Date.new(Time.now.year, Time.now.month, -1).day %>
          今月の固定費を入力してください
        <% else %>
          先月の固定費を入力してください
        <% end %>
      </div>
      <div>
        <%= f.number_field :fixed_cost, placeholder: "120000" %><span>円</span>
      </div>
      <div class="actions">
        <%= f.submit "確認画面へ" %>
      </div>
    <% end %>
  </div>
  <div class="main">
  </div>
  <%= render "shared/message_board", model: @messages %>
</div>