<h2>収支報告</h2>
<%= form_with model: @budget, url:target_budget_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: @budget %>
    <div class="message">
      今月の収入を入力してください
    </div>
    <div class="form">
      <%= f.number_field :income, placeholder: "250000" %><span>円</span>
    </div>
  </div>
  <div class="field">
    <div class="message">
      今月の固定費を入力してください
    </div>
    <div class="form">
      <%= f.number_field :fixed_cost, placeholder: "120000" %><span>円</span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "確認画面へ" %>
  </div>
<% end %>